body {
	overflow: hidden;
}

.bg-image {
	background-image: url('../static/img/etzNLna.jpg');

	filter: blur(2px);
	-webkit-filter: blur(2px);
	height: 100vh;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	justify-content: center;
	align-items: center;
}

.ant-card {
	background: rgba(39, 39, 39, 0.68);
	z-index: 2;
	-webkit-box-shadow: 3px 2px 19px 9px rgba(0, 0, 0, 0.363);
	-moz-box-shadow: 3px 2px 19px 9px rgba(0, 0, 0, 0.363);
	box-shadow: 3px 2px 19px 9px rgba(0, 0, 0, 0.363);
	backdrop-filter: blur(5px);
}

.ant-card-bordered {
	border: none;
	border-radius: 0px;
	padding: 3rem;
}

.avatar-img {
	margin-bottom: 2rem;
}

.ant-card-body {
	padding: 0rem;
}
