body {
  overflow: hidden;
}

.login {
  height: 100%;
  padding-top: 1vh;
}

.ant-card-bordered {
  border-radius: 10px;
  padding: 1rem;
}

.ant-card-head-title {
  text-align: center;
  font-size: 32px;
}

.ant-card-body {
  padding: 3rem 5rem;
}
